# Build outputs
[Bb]in/
[Oo]bj/
out/
publish/
*.dll
*.exe
*.pdb
*.ilk
*.exp

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper

# VS Code local workspace files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

# NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

# Test and coverage outputs
Docs/
tests/
TestResults/
*.trx
*.coverage
*.coveragexml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Local app settings overrides
appsettings.Development.json
appsettings.Local.json
.cursorignore

#Files
BitirmeRapor/